* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  padding-top: 149px; // Height of header (48px top + 48px bottom + 29px nav top + 24px nav bottom)
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}
